html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #282C34;
}
.unselect, img {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#top {
  position: absolute;
  top: -27px;
  width: 100%;
  height: 110px;
  background-color: #266cff;
  border-top: solid 1px black;
  border-bottom: solid 3px black;
}
.folderImgTop {
  position: absolute;
  margin: 17px 0 0 8px;
  width: 50px;
  z-index: 1;
}
.topTitle {
  position: absolute;
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 0 black, -2px -2px 0 black,
      -2px 2px 0 black, 2px -2px 0 black, 2px 1px 0 black,
      -2px 1px 0 black;
  top: 10px;
  left: 65px;
  z-index: 1;
}
#notes {
  margin: 90px 0 0 10px;
  padding-left: 0;
}
#menuBtn {
  position: absolute;
  cursor: pointer;
  margin: 0;
  top: 5px;
  right: 10px;
  height: 70px;
  width: 60px;
  z-index: 1;
}
#plus {
  position: absolute;
  cursor: pointer;
  bottom: 15px;
  right: 10px;
  width: 60px;
  height: 60px;
}
.trash {
  display: none;
  position: absolute;
  width: 34px;
  height: 40px;
  margin: 0px 0px 0 0;
}
