body {
  font-family: sans-serif;
  background-color: #282C34;
}
.unselect {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 200px;
}
#logo {
  width: 200px;
  margin-bottom: 10px;
}
input {
  margin-bottom: 10px;
  padding: 0 0 10px 0;
  font-weight: bold;
  border: none;
  background-color: inherit;
  border-bottom: solid 2px black;
  color: white;
  width: 100%;
  } input:focus { outline: none;
}
#log-in {
  cursor: pointer;
  border: solid 2px black;
  font-weight: bold;
  background-color: #266cff;
  left: 140px;
  width: 200px;
  height: 28px;
  font-size: 15px;
  margin-top: 6px;
  padding: 2px 0 10px 0;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transform: skew(-15deg);
}
footer {
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 0;
}
footer img {
  width: 28px;
  height: 24px;
}
