.line {
  position: absolute;
  right: 0;
  margin-right: -6px;
  box-shadow: -1px 0px 2px black;
  height: 100%;
  width: 0px;
  border: solid 2px black;
}
#notes {
  margin: 90px 0 0 10px;
  padding-left: 0;
}
.note {
  cursor: pointer;
  border-bottom: solid 1px grey;
  list-style-type: none;
  padding: 5px 0 3px 0;
  margin: 0 10px 10px 0;
}
.noteImg {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
}
.note p {
  font-size: 17px;
  width: 100%;
  height: 20px;
  color: white;
  margin: 0 0 0 42px;
  padding: 10px 0 2px 0;
}
.note span {
  display: block;
  /* position: absolute; */
  font-size: 14px;
  color: grey;
  width: 100%;
  text-align: right;
  /* float: right; */
}
#idNote {
  display: none;
  position: absolute;
  font-size: 1px;
  width: 1px;
  height: 1px;
}
.check {
  display: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 200px;
  width: 100%;
  height: 220px;
  margin: 0;
  opacity: 1;
  z-index: 2;
}
#titleNote {
  display: none;
  position: absolute;
  background-color: inherit;
  margin: 10px 0 0 82px;
  padding-left: 4px;
  width: 220px;
  border: none;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 2px 2px 0 black, -2px -2px 0 black,
      -2px 2px 0 black, 2px -2px 0 black, 2px 1px 0 black,
      -2px 1px 0 black;
  z-index: 1;
  } #titleNote:focus { outline: none;
}
#folderList {
  display: none;
  position: absolute;
  z-index: 3;
  top: 47px;
  left: 80px;
  background-color: inherit;
  color: white;
  font-weight: bold;
  border: none;
  width: 180px;
  font-size: 17px;
  text-shadow: 2px 2px 0 black, -2px -2px 0 black,
      -2px 2px 0 black, 2px -2px 0 black, 2px 1px 0 black,
      -2px 1px 0 black;
  } #folderList:focus { outline: none;
}
#starPin {
  display: none;
  position: absolute;
  z-index: 1;
  width: 30px;
  top: 45px;
  right: 80px;
}
#textNote {
  display: none;
  position: absolute;
  background-color: inherit;
  margin: 91px 0 0 0;
  width: 100%;
  height: 590px;
  border: none;
  color: white;
  font-size: 14px;
  z-index: 1;
  } #textNote:focus { outline: none;
}
#svNote {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
#saveBtn {
  display: none;
  position: absolute;
  cursor: pointer;
  margin: 0;
  top: 10px;
  right: 10px;
  height: 65px;
  width: 60px;
  z-index: 1;
}
#back {
  display: none;
  position: absolute;
  cursor: pointer;
  margin: 0;
  top: 10px;
  left: 10px;
  height: 55px;
  z-index: 1;
}
