#menuSettings {
  display: none;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0 0 0 0;
  z-index: 4;
  overflow: hidden;
}
.menuSettings {
  width: 190px;
  height: 100%;
  color: white;
  padding-left: 10px;
  padding-right: 55px;
  margin-right: -260px;
  border: solid 2px black;
  background-color: #121212;
  transform-origin: bottom right;
  transform: skew(-4deg, 0deg);
}
.menuSettings h1 {
  font-size: 25px;
  text-align: right;
  color: #266CFF;
  text-shadow: -0.5px 0 #166BFF, 0 0.5px #166BFF, 0.5px 0 #166BFF, 0 -0.5px #166BFF;
}
#cross {
  position: absolute;
  cursor: pointer;
  left: -21px;
  top: 5px;
  width: 45px;
  z-index: 1;
}
/* ////////////////////////////////////////////////////////////////////////// */
.forScrollMenu {
  width: 200px;
  height: 250px;
  overflow-y: scroll;
  scrollbar-color: #266cff #121212;
  border-radius: 10px;
}
#folders {
  margin: 0;
  padding-left: 0;
}
.folderImg {
  cursor: pointer;
  float: left;
  padding: 5px 0 6px 0;
  width: 30px;
}
.newFolder {
  cursor: pointer;
  font-size: 15px;
  text-align: left;
  padding: 5px 0 6px 0;
  width: 100%;
}
.newFolder p {
  margin: 10px 0 5px 35px;
}
.folder {
  cursor: pointer;
  font-size: 15px;
  list-style-type: none;
  text-align: left;
  padding: 4px 0 5px 0;
  width: 100%;
}
.folder p {
  margin: 0 0 0 35px;
  padding: 10px 0 5px 0;
}
.trashFolder {
  display: none;
  float: right;
  width: 25px;
  height: 30px;
  margin: 0px 0px 0 0;
}
#menu {
  transform: skew(4deg);
  padding-left: 10px;
}
#menu input {
  display: none;
  font-size: 15px;
  border: solid 1px;
  border-width: 1px 0 0 0;
  padding: 7px 0 0 10px;
  color: white;
  width: 150px;
  background-color: inherit;
}
#settings {
  position: absolute;
  width: 215px;
  /* top: 400px; */
  bottom: 60px;
}
/* ////////////////////////////////////////////////////////////////////////// */
.pswd {
  color: white;
  font-style: italic;
  background-color: inherit;
  width: 120px;
  border: solid 0px;
}
.changePswdContainer p {
  margin-bottom: 5px;
}
#pswdBtn {
  cursor: pointer;
  position: absolute;
  border: solid 2px #36363C;
  background-color: #222225;
  left: 140px;
  height: 28px;
  font-size: 15px;
  margin-top: 6px;
  color: #266CFF;
  text-shadow: -0.5px 0 #166BFF, 0 0.5px #166BFF, 0.5px 0 #166BFF, 0 -0.5px #166BFF;
  transform: skew(-15deg);
}
.infosPswd{
	display: none;
}
.infosPswd span{
	display: block;
	width: 96%;
	padding: 5px;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 5px;
	color:#FFF;
}
.infosPswd .success {
  background-color: #27ae60;
}
.infosPswd .error {
  background-color: #e74c3c;
}
#pswdBtn {
  position: absolute;
  bottom: auto;
}
#reload {
  position: absolute;
  transform: skew(6deg);
  margin: 0 0 8px 0;
  left: 10px;
  width: 38px;
  height: 38px;
  bottom: 0;
}
#logout {
  position: absolute;
  transform: skew(6deg);
  margin-bottom: 8px;
  right: 10px;
  width: 40px;
  height: 40px;
  bottom: 0;
}
