<!DOCTYPE html>
<?php require("config/config.php"); $infos = login_connection();
  if ( $_POST['login'] == $infos['login'] AND $_POST['password'] == $infos['password']) { ?>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="favicon.ico" />
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/note.css">
  <link rel="stylesheet" href="css/settings.css">
  <link rel="icon" href=favicon.ico>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="js/settings.js"></script>
  <script type="text/javascript" src="js/note.js"></script>
  <script type="text/javascript" src="js/home.js"></script>
  <script type="text/javascript" src="js/buttons.js"></script>
  <script type="text/javascript" src="js/cookie.js"></script>
  <title>Jj Notepad</title>
</head>
<body class="unselect">
  <section id="menuSettings">
    <div class="menuSettings">
      <img class="hoverThis" id="cross" src="img/cross.png" alt="cross">
      <div id="menu">
        <h1>Menu</h1>
        <div id="safety" class="folder hoverSize">
          <img class="folderImg emote" src="img/pin.png" alt="folder">
          <p>Safety PINS</p>
        </div>
        <div class="newFolder hoverSize">
          <img class="folderImg emote" src="img/new.png" alt="folder">
          <p>New folder</p>
        </div>
        <div class="forScrollMenu">
          <ul id="folders"></ul>
          <input type="text" name="folder name" placeholder="folder name">
        </div>
      </div>
      <div id="settings">
        <h1>Settings</h1>
        <fieldset>
          <legend>Theme</legend>
          <div>
            <label>
              <input type="checkbox" class="theme" id="dark" name="theme[]">Dark
            </label>
            <label>
              <input type="checkbox" class="theme" id="light" name="theme[]">Light
            </label>
          </div>
        </fieldset>
        <!-- <div class="changePswdContainer">
          <p>Change password</p>
          <input id="oldPswd" class="pswd" type="password" placeholder="Password">
          <button id="pswdBtn" class="button hoverThis" type="button" name="button">Change</button>
          <input id="newPswd" class="pswd" type="password" placeholder="New password">
          <div class="infosPswd"></div>
        </div> -->
      </div>
      <img id="reload" class="hoverThis" src="img/reload.png" alt="reload">
      <img class="homeSetting hoverThis" id="logout" src="img/standby.png" alt="logout">
    </div>
  </section>
  <section>
    <img class="folderImgTop home" src="img/pin.png" alt="folder">
    <div class="line"></div>
    <h1 value="" class="topTitle">TITLE</h1>
    <select id="folderList"></select>
    <input type="text" id="titleNote" class="notes" placeholder="Title">
    <img id="menuBtn" class="hoverThis home" src="img/menu.png" alt="settings">
    <img id="saveBtn" class="hoverThis notes" src="img/disk.png" alt="save">
    <img id="starPin" class="hoverThis notes" src="img/starNone.png" alt="Safety PINS" value="0">
    <img id="back" class="hoverThis notes" src="img/arrow.png" alt="back">
    <div id="top"></div>
    <ul id="notes" class="home"></ul>
    <div class="check"></div>
    <textarea type="text" id="textNote" class="notes" placeholder="..."></textarea>
    <textarea type="text" id="svNote" class="notes" ></textarea>
    <div id="idNote" class="notes"></div>
    <img id="plus" class="hoverThis home" src="img/plus.png" alt="plus">
  </section>
  <footer>
  </footer>
</body>
</html>
<?php } else { header('Location: index.html'); }?>
